<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_3DScannerApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <_3DScannerApp.Properties.Settings>
            <setting name="leftLimit" serializeAs="String">
                <value />
            </setting>
            <setting name="rightLimit" serializeAs="String">
                <value />
            </setting>
            <setting name="circleStart" serializeAs="String">
                <value />
            </setting>
            <setting name="circleEnd" serializeAs="String">
                <value />
            </setting>
            <setting name="circleSpeed" serializeAs="String">
                <value />
            </setting>
            <setting name="circlePeriod" serializeAs="String">
                <value />
            </setting>
            <setting name="circleStay" serializeAs="String">
                <value />
            </setting>
            <setting name="circleTrigger" serializeAs="String">
                <value />
            </setting>
            <setting name="intervalStart" serializeAs="String">
                <value />
            </setting>
            <setting name="intervalEnd" serializeAs="String">
                <value />
            </setting>
            <setting name="intervalIncrement" serializeAs="String">
                <value />
            </setting>
            <setting name="intervalDelay" serializeAs="String">
                <value />
            </setting>
            <setting name="intervalStay" serializeAs="String">
                <value />
            </setting>
            <setting name="intervalTrigger" serializeAs="String">
                <value />
            </setting>
        </_3DScannerApp.Properties.Settings>
    </userSettings>
</configuration>